<div class="content" style="width: 90%; margin: auto;">

  <div class="row">
    <mat-form-field style="width: 60%; margin: auto">
      <mat-select (openedChange)="openedChange($event)" placeholder="Select">
        {{getPrint(selectedProject)}}
        <div class="select-container">
          <mat-optgroup>
            <mat-form-field style="width:100%;">
              <input #search autocomplete="off" placeholder="Search" aria-label="Search" matInput
                     [formControl]="searchTextboxControl">
              <button [disableRipple]="true" *ngIf="search.value" matSuffix mat-icon-button aria-label="Clear"
                      (click)="clearSearch($event)">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </mat-optgroup>
          <mat-optgroup *ngIf="(filteredOptions | async)?.length == 0">
            <div>No results found!</div>
          </mat-optgroup>
          <mat-option (onSelectionChange)="selectionChange($event)" *ngFor="let option of filteredOptions | async"
                      [value]="option">
            {{getPrint(option)}}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="selectedProject" style="margin-top: 25px">
    <div class="row" cdkDropListGroup *ngIf="!persistState">
      <div *ngFor="let status of displayedStatusColumns" class="col-md-3">
        <h2 style="text-align: right">{{getPrintableStatus(status)}}</h2>
        <div
          cdkDropList
          [cdkDropListData]="statusTaskMap.get(status)"
          class="example-list"
          (cdkDropListDropped)="changeStatus($event, status)">
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
                  *ngIf="status==='TO_DO'" (click)="emmitAction(taskActions.ADD)">
            <mat-icon>add</mat-icon>
          </button>
          <div class="card example-box" *ngFor="let item of statusTaskMap.get(status)" cdkDrag [cdkDragData]="item">
            <div class="row">
              <div class="col-md-8">
                <h6>{{item.name}}</h6>
                <p>From: <span>{{formatDateLocal(item.createdDate)}}</span></p>
                <p>Due: <span>{{formatDateLocal(item.deadline)}}</span></p>
              </div>
              <div class="col-md-2" style="margin-top: 8%;padding: 0;">
                <div [innerHTML]="getUserLogo(item)" *ngIf="item.projectMember"></div>
                <div *ngIf="!item.projectMember">
                  <div style="border-radius: 50%;" class=" form-control">
                    <mat-select (openedChange)="openedChangeMember($event)"
                                [placeholder]="getPrintMember(this.selectedMember)">
                      <div class="select-container">
                        <mat-optgroup *ngIf="(filteredOptionsMember | async)?.length == 0">
                          <div>No results found!</div>
                        </mat-optgroup>
                        <mat-option (onSelectionChange)="selectionChangeMemberFromBoard($event, item)"
                                    *ngFor="let option of filteredOptionsMember | async"
                                    [value]="option">
                          {{getPrintMember(option)}}
                        </mat-option>
                      </div>
                    </mat-select>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="text-right">
                  <button type="button" rel="tooltip" class="btn btn-success btn-link btn-icon btn-sm"
                          (click)="emmitAction(taskActions.EDIT, item)"
                  >
                    <i class="tim-icons icon-settings"></i>
                  </button>
                  <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm"
                          (click)="emmitAction(taskActions.DELETE, item)"
                  >
                    <i class="tim-icons icon-simple-remove"></i>
                  </button>
                  <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm"
                          (click)="fileInput.click()"
                  >
                    <i class="tim-icons icon-attach-87"></i>
                    <input #fileInput type=file (change)="onFileUploaded($event, item)" style="display: none" multiple>
                  </button>
                  <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm"
                          (click)="emmitAction(taskActions.VIEW, item)"
                  >
                    <i class="tim-icons icon-vector"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="persistState" class="row">
      <div class="col-md-2">
        <div class="card" *ngIf="viewState" style="padding-top: 24px">
          <div class="card-title">
            <h6 style="text-align: center">
              Attachments
            </h6>
          </div>
          <div class="card-body">
            <mat-list role="list">
              <mat-list-item *ngFor="let item of attachments" class="row"
                             style="height: 100%;!important; border-bottom: 1px solid black; padding-top: 5px">
                <div class="col-md-10">
                  <div class="row">
                    <p style="font-size: 15px">
                      {{item.name + " " + item.extension}}
                    </p>
                  </div>
                  <div class="row">
                    <p style="font-size: 12px;">{{item.description}}</p>
                  </div>
                </div>
                <div class="col-md-2">
                  <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm"
                          (click)="emmitAttachmentAction(taskActions.DELETE_ATTACHMENT, item)"
                  >
                    <i class="tim-icons icon-simple-remove"></i>
                  </button>

                  <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm"
                          (click)="emmitAttachmentAction(taskActions.DOWNLOAD_ATTACHMENT, item)"
                  >
                    <i class="tim-icons icon-cloud-download-93"></i>
                  </button>
                </div>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-title" style="padding: 25px;">
            <h2 *ngIf="currentAction === taskActions.ADD">Create a new task</h2>
            <h2 *ngIf="currentAction === taskActions.EDIT">Update task</h2>
          </div>
          <form [formGroup]="taskForm" style="padding: 15px;" (ngSubmit)="onSubmit(currentAction)" class="card-body">
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Name </label>
                  <input
                    class=" form-control"
                    placeholder="name"
                    formControlName="name"
                    type="text"
                    [(ngModel)]="selectedTask.name"
                    *ngIf="!viewState"
                  />
                  <h6 *ngIf="viewState">{{selectedTask.name}}</h6>
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Member </label>
                  <h6 *ngIf="viewState">{{getPrintMember(this.selectedMember)}}</h6>
                  <div style="display: block!important;" class=" form-control" *ngIf="!viewState">
                    <mat-select (openedChange)="openedChangeMember($event)"
                                [placeholder]="getPrintMember(this.selectedMember)">
                      {{getPrintMember(this.selectedMember)}}
                      <div class="select-container">
                        <mat-optgroup>
                          <mat-form-field style="width:100%">
                            <input #searchMember autocomplete="off" placeholder="Search" aria-label="Search" matInput
                                   class=" form-control"
                                   [formControl]="searchTextboxControlMember">
                            <button [disableRipple]="true" *ngIf="searchMember.value" matSuffix mat-icon-button
                                    aria-label="Clear"
                                    (click)="clearSearchMember($event)">
                              <mat-icon>close</mat-icon>
                            </button>
                          </mat-form-field>
                        </mat-optgroup>
                        <mat-optgroup *ngIf="(filteredOptionsMember | async)?.length == 0">
                          <div>No results found!</div>
                        </mat-optgroup>
                        <mat-option (onSelectionChange)="selectionChangeMember($event)"
                                    *ngFor="let option of filteredOptionsMember | async"
                                    [value]="option">
                          {{getPrintMember(option)}}
                        </mat-option>
                      </div>
                    </mat-select>
                  </div>
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Deadline </label>
                  <input id="datepicker"
                         class=" form-control"
                         placeholder=""
                         formControlName="deadline"
                         type="date"
                         [ngModel]="formatDateLocal(selectedTask.deadline)"
                         (ngModelChange)="(selectedTask.deadline = $event)"
                         *ngIf="!viewState"
                  >
                  <h6 *ngIf="viewState">{{formatDateLocal(selectedTask.deadline)}}</h6>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Description </label>
                  <textarea
                    class=" form-control"
                    cols="80"
                    placeholder="Here can be your description"
                    formControlName="description"
                    rows="4"
                    [(ngModel)]="selectedTask.description"
                    *ngIf="!viewState"
                  >
                  </textarea>
                  <h6 *ngIf="viewState">{{selectedTask.description}}</h6>
                </div>
              </div>
            </div>
            <div class=" card-footer">
              <button class=" btn btn-primary" type="submit" *ngIf="!viewState">Save</button>
              <button class=" btn btn-secondary" (click)="cancelAction(currentAction)">Back</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card table-full-width table-responsive card-tasks" *ngIf="viewState" style="padding-top: 24px;">
          <div class="card-title">
            <h6 style="text-align: center">
              History
            </h6>
          </div>
          <div class="card-body">
            <div class="card"
                 style="width: 90%; margin: auto; background-color: lightcyan; border-radius: 10%;">
              <div class="card-body">
                <p style="font-size: 10px"> {{formatDateLocal(getNow())}}</p>
                <textarea
                  class=" form-control"
                  cols="80"
                  placeholder="Here can be your update"
                  rows="4"
                  [(ngModel)]="newChat"
                >
                  </textarea>
                <button class=" btn btn-primary" (click)="updateHistory()">
                  Add
                </button>
              </div>
            </div>
            <div class="card" *ngFor="let historyItem of history"
                 style="width: 90%; margin: auto; background-color: lightcyan; border-radius: 10%;">
              <div class="card-body">
                <p style="font-size: 10px"> {{formatDateLocal(historyItem.date)}}</p>
                <p style="font-size: 12px">{{historyItem.description}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
