<div style="  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;">
  <div class="card-user col-lg-4">
    <div>
      <p class=card-title>Login</p>
      <div class=" author">
        <div class=" block block-one animate"></div>
        <div class=" block block-two animate"></div>
        <div class=" block block-three animate"></div>
        <div class=" block block-four animate"></div>
        <a href="javascript:void(0)"></a>
        <div class="col d-flex justify-content-center">
          <div class=" col-lg-4 pl-lg-8">
            <div class="form-group">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <label [for]="'emailAddress'"> Email address </label>
                <input
                  class=" form-control"
                  placeholder="address@email.com"
                  formControlName="emailAddress"
                  type="email"
                />
                <div *ngIf="loginForm.controls.emailAddress.errors?.required && (loginForm.controls.emailAddress.dirty ||loginForm.controls.emailAddress.touched)">E-mail address is required</div>
                <div *ngIf="loginForm.controls.emailAddress.errors?.email ">The e-mail address does not have the correct format.</div>
                <label [for]="'password'">Password</label>
                <input
                  class="form-control"
                  placeholder="***********"
                  formControlName="password"
                  type="password"
                />
                <br>
                <div class="col d-flex justify-content-center">
                  <button class=" btn btn-fill btn-danger" type="submit">Log in</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
