.hovered{
  opacity: 0.5;
}

.highlighted {
  background-color: #3DA69B;
  opacity: 0.6;
}

.highlighted-action {
  background-color: #d2f1ef;
}

tr:hover {
  opacity: 0.5;
}


.dropdown-menu-right>a:hover {
  opacity: 0.5;
}
